@mixin text_hidden($clamp: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
	word-break: break-word;
    -webkit-line-clamp: $clamp;
    -webkit-box-orient: vertical;
}

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;

$color-t: #777;
$color-t: #888;
$color-t: #444;
$color-t: #111;
$color-s: #666666;